In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

from sklearn.metrics import roc_auc_score, classification_report

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier

from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import KFold, StratifiedKFold

from sklearn.svm import SVC

#from imblearn.over_sampling import RandomOverSampler
#import imblearn.over_sampling

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
%cd drive

In [ ]:
#!pip install imbalanced-learn

## Anotação sobre colunas

[TARGET]: binária - dummie
1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample
0 - all other cases - sem problema de pagamento

[NAME_CONTRACT_TYPE]: binária 
CASH - direto
REVOLVING - 'emprestimo de emergencia'

[FLAG_OWN_CAR] & [FLAG_OWN_REALTY] - No, yes 

[CNT_CHILDREN] - num de criancas 

[AMT_INCOME_TOTAL]

DROP: [CODE_GENDER, NAME_TYPE_SUITE, ]
DUVIDA: [NAME_FAMILY_STATUS, REGION_POPULATION_RELATIVE, NAME_EDUCATION_TYPE, NAME_INCOME_TYPE, DAYS_REGISTRATION, DAYS_ID_PUBLISH, FLAG]

* EDA + limpar dados

* separar features numéricas e categóricas

* train test split
* nunique()

* tirar a variável target do xtrain xtest
* usar apenas targer na ytest
* balancear excluindo o excesso do maior do target

* pipeline
    * feature numerica:
        * simple imputer com minmax ou standardscale
    * feature categorica:
        * simple imputer com oneHot/dummy sipa com ordinalEncoder

    * Cross validation com SVC ou KNN ou Random Forest com Gridsearch

* fit transform
* predict proba 
* ROC AUC comparando o teste com treino pra ver se overfitou ou só cagou 
* exportar csv com coluna ID e proba

In [ ]:
# for i, col in enumerate(['purpose']):
 #  order = train[col].value_counts().index# /content/drive/MyDrive/application_test.csv

# ##choosing the ideal learning rate with lasso regression
from sklearn.linear_model import Lasso
scores = []
for i in np.arange(0.0001,0.001,0.0001):
    lasso = Lasso(alpha=i)
    lasso.fit(X_train, y_train)
    scores.append(lasso.score(X_test, y_test))
print(scores)# # # # # # #

# Check distribution (num)

num = [COLUNAS NUMERICAS]
non_num = ['purpose']


print(f'=== Distribution of features (before log transformation) ===')
plt.figure(figsize=(15, 18))
for i, col in enumerate(num):
    # Plot distribution 
    plt.subplot(4,3,i+1); sns.distplot(X_train[col], color='blue')
    plt.title(f'Distribution of {col}')
# Show the plot
plt.tight_layout()
plt.show()# # # # # # # # # # #

##cross-validation in scikit-learn
from sklearn.model_selection import cross_val_score, KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)
reg = LinearRegression()
cv_results = cross_val_score(reg, X, y, cv=kf, scoring='neg_mean_squared_error')

In [ ]:
pd.set_option('display.max_rows', 500)

In [ ]:
app_test = pd.read_csv('/content/drive/MyDrive/credito-imoveis-2/application_test.csv')

In [3]:
#app_train = pd.read_csv('/content/drive/MyDrive/credito-imoveis-2/application_train.csv')
app_train = pd.read_csv('credito-imoveis/application_train.csv')
app_train.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,456162,0,Cash loans,F,N,N,0,112500.0,700830.0,22738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,134978,0,Cash loans,F,N,N,0,90000.0,375322.5,14422.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
2,318952,0,Cash loans,M,Y,N,0,180000.0,544491.0,16047.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
3,361264,0,Cash loans,F,N,Y,0,270000.0,814041.0,28971.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
4,260639,0,Cash loans,F,N,Y,0,144000.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,10.0,0.0,0.0
5,270576,0,Cash loans,M,Y,Y,0,157500.0,630000.0,30307.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
6,378296,1,Cash loans,F,N,Y,0,72000.0,197820.0,15534.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,110095,0,Cash loans,M,Y,Y,0,90000.0,271957.5,18927.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,212537,0,Revolving loans,F,N,Y,0,162000.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
9,417346,0,Cash loans,M,Y,Y,0,90000.0,1350000.0,37255.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0

In [4]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [5]:
print(f'Observações: {app_train.shape[0]}')
print(f'Colunas: {app_train.shape[1]}')

Observações: 246008
Colunas: 122

### 1. Verificando campos nulos

In [6]:
# Function to calculate missing values by column# Funct 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()

        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)

        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})

        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)

  
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
# Missing values statistics

In [7]:
missing_values = missing_values_table(app_train)
missing_values

                          Missing Values  % of Total Values
COMMONAREA_MEDI                   171978               69.9
COMMONAREA_AVG                    171978               69.9
COMMONAREA_MODE                   171978               69.9
NONLIVINGAPARTMENTS_MEDI          170914               69.5
NONLIVINGAPARTMENTS_MODE          170914               69.5
...                                  ...                ...
EXT_SOURCE_2                         544                0.2
AMT_GOODS_PRICE                      226                0.1
AMT_ANNUITY                           10                0.0
DAYS_LAST_PHONE_CHANGE                 1                0.0
CNT_FAM_MEMBERS                        1                0.0

[67 rows x 2 columns]

In [8]:
feature_drop = list(missing_values[missing_values['% of Total Values'] >= 47.5].index)
feature_drop

['COMMONAREA_MEDI',
 'COMMONAREA_AVG',
 'COMMONAREA_MODE',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAPARTMENTS_AVG',
 'FONDKAPREMONT_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAPARTMENTS_AVG',
 'FLOORSMIN_MODE',
 'FLOORSMIN_MEDI',
 'FLOORSMIN_AVG',
 'YEARS_BUILD_MODE',
 'YEARS_BUILD_MEDI',
 'YEARS_BUILD_AVG',
 'OWN_CAR_AGE',
 'LANDAREA_AVG',
 'LANDAREA_MEDI',
 'LANDAREA_MODE',
 'BASEMENTAREA_MEDI',
 'BASEMENTAREA_AVG',
 'BASEMENTAREA_MODE',
 'EXT_SOURCE_1',
 'NONLIVINGAREA_MEDI',
 'NONLIVINGAREA_MODE',
 'NONLIVINGAREA_AVG',
 'ELEVATORS_MEDI',
 'ELEVATORS_MODE',
 'ELEVATORS_AVG',
 'WALLSMATERIAL_MODE',
 'APARTMENTS_MODE',
 'APARTMENTS_MEDI',
 'APARTMENTS_AVG',
 'ENTRANCES_MODE',
 'ENTRANCES_AVG',
 'ENTRANCES_MEDI',
 'LIVINGAREA_MEDI',
 'LIVINGAREA_MODE',
 'LIVINGAREA_AVG',
 'HOUSETYPE_MODE',
 'FLOORSMAX_MEDI',
 'FLOORSMAX_AVG',
 'FLOORSMAX_MODE',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BEGINEXPLUATATION_MODE',
 'TOTALAREA_MODE',
 'EMERGENCYSTATE_MODE']

In [9]:
app_train= app_train.drop(columns=feature_drop)

In [10]:
(app_train.isnull().mean()*100).round(2).sort_values(ascending=False)

OCCUPATION_TYPE                31.40
EXT_SOURCE_3                   19.81
AMT_REQ_CREDIT_BUREAU_YEAR     13.48
AMT_REQ_CREDIT_BUREAU_QRT      13.48
AMT_REQ_CREDIT_BUREAU_MON      13.48
                               ...
HOUR_APPR_PROCESS_START         0.00
REG_REGION_NOT_LIVE_REGION      0.00
REG_REGION_NOT_WORK_REGION      0.00
LIVE_REGION_NOT_WORK_REGION     0.00
REG_CITY_NOT_LIVE_CITY          0.00
Length: 73, dtype: float64

### 2. Separando features (numéricas | categóricas)

In [11]:
def get_categorical_features(df,limite):
    categorical_features, numerical_features = [], []
    for col in df.columns:
        if df[col].nunique() < limite or type(col) == object:
            categorical_features.append(col)
        else:
            numerical_features.append(col)
    return categorical_features, numerical_features

In [12]:
correlations = app_train.corr()['TARGET'].sort_values(ascending = False)
correlations.head(15)

TARGET                         1.000000
DAYS_BIRTH                     0.079414
REGION_RATING_CLIENT_W_CITY    0.061518
REGION_RATING_CLIENT           0.059170
DAYS_LAST_PHONE_CHANGE         0.054471
DAYS_ID_PUBLISH                0.051572
REG_CITY_NOT_WORK_CITY         0.050255
FLAG_EMP_PHONE                 0.045894
REG_CITY_NOT_LIVE_CITY         0.045404
FLAG_DOCUMENT_3                0.044072
DAYS_REGISTRATION              0.041581
LIVE_CITY_NOT_WORK_CITY        0.031159
DEF_30_CNT_SOCIAL_CIRCLE       0.029969
DEF_60_CNT_SOCIAL_CIRCLE       0.029613
FLAG_WORK_PHONE                0.027436
Name: TARGET, dtype: float64

In [13]:
correlations.tail(15)

FLAG_DOCUMENT_18             -0.008746
FLAG_DOCUMENT_14             -0.009037
FLAG_DOCUMENT_16             -0.010565
FLAG_DOCUMENT_13             -0.011839
AMT_REQ_CREDIT_BUREAU_MON    -0.013337
AMT_ANNUITY                  -0.014100
HOUR_APPR_PROCESS_START      -0.023270
FLAG_PHONE                   -0.023610
FLAG_DOCUMENT_6              -0.027750
AMT_CREDIT                   -0.031103
REGION_POPULATION_RELATIVE   -0.036342
AMT_GOODS_PRICE              -0.040060
DAYS_EMPLOYED                -0.044862
EXT_SOURCE_2                 -0.160978
EXT_SOURCE_3                 -0.179246
Name: TARGET, dtype: float64

In [14]:
categorical_features, numerical_features = get_categorical_features(app_train,15)
df_categorical = app_train[categorical_features]
df_numerical = app_train[numerical_features]

In [15]:
pd.set_option('display.max_columns', 100)
df_categorical.head(30)
#CNT Children numero filhos cliente Numerico
#REGION_RATING_CLIENT categorical
#REGION_RATING_CLIENT_W_CITY categorical
#REG_REGION_NOT_LIVE_REGION flag categorical
#REG_REGION_NOT_WORK_REGION cat
#LIVE_REGION_NOT_WORK_REGION cat
#REG_CITY_NOT_LIVE_CITY cat
#REG_CITY_NOT_WORK_CITY cat
#LIVE_CITY_NOT_WORK_CITY cat
#DEF_30_CNT_SOCIAL_CIRCLE numerico
#DEF_60_CNT_SOCIAL_CIRCLE numerico
#AMT_REQ_CREDIT_BUREAU_HOUR numerico
#AMT_REQ_CREDIT_BUREAU_DAY numerico
#AMT_REQ_CREDIT_BUREAU_WEEK numerico
#AMT_REQ_CREDIT_BUREAU_QRT numerico

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,DEF_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_QRT
0,0,Cash loans,F,N,N,0,Unaccompanied,Working,Incomplete higher,Single / not married,House / apartment,1,1,1,1,0,0,2,2,FRIDAY,0,0,0,1,1,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,0,Cash loans,F,N,N,0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,MONDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,0,Cash loans,M,Y,N,0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,1,1,0,0,2,2,THURSDAY,0,0,0,0,0,0,1.0,1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0
3,0,Cash loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,1,0,0,1,1,0,1,1,TUESDAY,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0
4,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,1,1,0,1,1,0,2,2,FRIDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
5,0,Cash loans,M,Y,Y,0,Family,Working,Higher education,Married,House / apartment,1,1,1,1,1,0,2,2,TUESDAY,0,0,0,0,1,1,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
6,1,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,1,1,1,1,1,1,2,2,THURSDAY,0,0,0,0,1,1,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
7,0,Cash loans,M,Y,Y,0,Unaccompanied,Working,Secondary / secondary special,Married,Rented apartment,1,1,0,1,0,0,2,2,FRIDAY,0,0,0,0,0,0,1.0,1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
8,0,Revolving loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,1,0,0,1,0,0,2,2,FRIDAY,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
9,0,Cash loans,M,Y,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,1,0,0,1,0,1,2,2,THURSDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
10,0,Revolving loans,M,Y,N,0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,1,1,0,1,0,0,2,2,SATURDAY,0,0,0,0,1,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0
11,0,Cash loans,M,N,N,0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,1,1,0,0,2,2,FRIDAY,0,0,0,0,1,1,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
12,0,Revolving loans,M,Y,Y,0,"Spouse, partner",Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,SATURDAY,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
13,0,Cash loans,M,Y,N,2,Unaccompanied,Working,Higher education,Married,House / apartment,1,1,1,1,1,1,1,1,FRIDAY,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
14,0,Cash loans,F,N,N,1,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,1,1,0,1,1,0,2,2,MONDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
15,0,Cash loans,F,Y,Y,2,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,3,3,MONDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0
16,0,Cash loans,M,N,Y,0,"Spouse, partner",Pensioner,Secondary / secondary special,Married,House / apartment,1,0,0,1,1,0,2,2,FRIDAY,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
17,0,Cash loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,1,0,0,1,1,0,2,2,WEDNESDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
18,0,Cash loans,F,N,N,0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,1,1,0,1,1,0,2,2,SUNDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
19,0,Cash loans,F,N,Y,0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,1,0,0,1,0,0,3,3,THURSDAY,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
20,0,Cash loans,F,Y,Y,0,Unaccompanied,Pensioner,Higher education,Married,House / apartment,1,0,0,1,1,0,2,2,MONDAY,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
21,0,Cash loans,F,N,Y,1,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,0,1,1,0,2,2,SATURDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
22,0,Cash loans,F,Y,N,0,Unaccompanied,Working,Secondary / secondary special,Single / not married,Rented apartment,1,1,0,1,0,0,2,2,THURSDAY,1,1,1,1,1,1,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
23,0,Cash loans,M,N,Y,0,Unaccompanied,Commercial associate,Higher education,Civil marriage,House / apartment,1,1,1,1,1,0,3,3,TUESDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0
24,0,Cash loans,F,N,N,1,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,1,0,3,2,THURSDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
25,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,0,1,0,0,3,3,FRIDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
26,0,Cash loans,F,Y,Y,1,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,FRIDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27,0,Cash loans,F,N,Y,1,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,1,1,0,0,2,2,FRIDAY,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
28,0,Cash loans,F,N,N,0,Unaccompanied,State servant,Higher education,Married,House / apartment,1,1,0,1,0,0,2,2,FRIDAY,0,0,0,0,1,1,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,2.0
29,0,Cash loans,F,N,Y,0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,SATURDAY,0,0,0,0,0,0,1.0,1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [16]:
df_numerical.head(30)
#own car age numerico
#CNT fam members numerico
#hOur appr process start numerico
#OBS 30 CNT social circle quantas observações de client social circle numerico
# obs 60 cnt social circle numerico
#AMT REQ CREDIT Bureau mon numerico
#AMT REQ CREDIT Bureau year numerico

,SK_ID_CURR,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OCCUPATION_TYPE,CNT_FAM_MEMBERS,HOUR_APPR_PROCESS_START,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_YEAR
0,456162,112500.0,700830.0,22738.5,585000.0,0.019689,-8676,-813,-4163.0,-1363,Core staff,1.0,17,Trade: type 2,0.699373,0.171468,0.0,0.0,-589.0,0.0,1.0
1,134978,90000.0,375322.5,14422.5,324000.0,0.025164,-13583,-223,-3554.0,-3287,High skill tech staff,2.0,11,Business Entity Type 3,0.199651,0.768808,0.0,0.0,-1409.0,1.0,3.0
2,318952,180000.0,544491.0,16047.0,454500.0,0.035792,-13993,-6202,-7971.0,-4175,Managers,2.0,15,Business Entity Type 1,0.704880,0.626304,1.0,1.0,-675.0,1.0,3.0
3,361264,270000.0,814041.0,28971.0,679500.0,0.046220,-22425,365243,-11805.0,-1732,NaN,2.0,9,XNA,0.724576,0.810618,2.0,2.0,-1588.0,0.0,4.0
4,260639,144000.0,675000.0,21906.0,675000.0,0.026392,-18839,-2763,-5069.0,-2381,Laborers,1.0,16,Transport: type 4,0.706310,0.331251,0.0,0.0,0.0,10.0,0.0
5,270576,157500.0,630000.0,30307.5,630000.0,0.025164,-11057,-1690,-5538.0,-3274,Laborers,2.0,10,Self-employed,0.192316,0.251239,0.0,0.0,-1158.0,0.0,3.0
6,378296,72000.0,197820.0,15534.0,180000.0,0.028663,-18011,-5353,-10822.0,-834,NaN,1.0,11,Business Entity Type 3,0.472204,NaN,4.0,4.0,0.0,NaN,NaN
7,110095,90000.0,271957.5,18927.0,252000.0,0.007120,-8980,-385,-2409.0,-1453,Laborers,2.0,14,Business Entity Type 3,0.166232,NaN,2.0,2.0,-149.0,NaN,NaN
8,212537,162000.0,202500.0,10125.0,202500.0,0.003813,-21109,365243,-1505.0,-4314,NaN,2.0,14,XNA,0.408469,0.300108,0.0,0.0,-875.0,0.0,3.0
9,417346,90000.0,1350000.0,37255.5,1350000.0,0.028663,-21271,365243,-874.0,-2456,NaN,2.0,10,XNA,0.706084,0.515495,3.0,3.0,-757.0,0.0,3.0
10,376566,180000.0,180000.0,9000.0,180000.0,0.028663,-8684,-89,-74.0,-1367,High skill tech staff,1.0,15,Industry: type 9,0.575225,0.549597,1.0,1.0,-874.0,0.0,2.0
11,127485,90000.0,180000.0,12177.0,180000.0,0.008625,-19640,-986,-2913.0,-2116,NaN,2.0,15,Business Entity Type 3,0.135859,0.684828,2.0,2.0,-483.0,0.0,2.0
12,330799,225000.0,675000.0,33750.0,675000.0,0.018850,-16000,-469,-5505.0,-4952,Drivers,2.0,10,Business Entity Type 3,0.644868,0.770087,4.0,4.0,-237.0,0.0,6.0
13,287645,495000.0,472500.0,56074.5,454500.0,0.072508,-13019,-1703,-7164.0,-4498,NaN,4.0,9,Business Entity Type 3,0.664095,0.085033,0.0,0.0,-441.0,0.0,1.0
14,380230,171000.0,993082.5,39514.5,913500.0,0.016612,-15253,-2139,-5656.0,-5308,NaN,3.0,11,Business Entity Type 3,0.575519,0.798137,0.0,0.0,-1803.0,0.0,1.0
15,385336,112500.0,729567.0,31041.0,589500.0,0.006852,-14923,-1079,-7014.0,-4612,Sales staff,4.0,6,Self-employed,0.205501,0.728141,0.0,0.0,-886.0,0.0,3.0
16,451073,54000.0,47970.0,4801.5,45000.0,0.026392,-22759,365243,-13407.0,-4337,NaN,2.0,11,XNA,0.670648,NaN,0.0,0.0,0.0,NaN,NaN
17,161166,81000.0,135000.0,9729.0,135000.0,0.015221,-20908,365243,-2514.0,-4361,NaN,2.0,10,XNA,0.105163,NaN,0.0,0.0,0.0,NaN,NaN
18,182469,112500.0,1288350.0,37800.0,1125000.0,0.022625,-9473,-906,-362.0,-2146,Core staff,2.0,12,Self-employed,0.549760,0.454321,0.0,0.0,-1147.0,0.0,6.0
19,219830,135000.0,414229.5,15745.5,342000.0,0.020713,-21336,365243,-3456.0,-1770,NaN,1.0,13,XNA,0.586299,0.177704,0.0,0.0,-1318.0,0.0,4.0
20,112242,94950.0,232344.0,12735.0,157500.0,0.024610,-20348,365243,-4443.0,-3771,NaN,2.0,10,XNA,0.526388,0.355639,0.0,0.0,-3038.0,1.0,4.0
21,307179,99000.0,691020.0,22419.0,495000.0,0.007330,-13312,-3954,-4887.0,-4250,NaN,3.0,13,Business Entity Type 3,0.260928,0.621226,2.0,2.0,-710.0,0.0,1.0
22,139324,360000.0,601470.0,30708.0,450000.0,0.008230,-9360,-2129,-4174.0,-2049,NaN,1.0,18,Business Entity Type 3,0.693739,0.347418,1.0,1.0,-1470.0,0.0,4.0
23,290189,247500.0,225000.0,7065.0,225000.0,0.007305,-10307,-1386,-1111.0,-2968,Sales staff,2.0,11,Trade: type 2,0.320629,0.493863,2.0,2.0,-1141.0,0.0,1.0
24,198009,157500.0,900000.0,46084.5,900000.0,0.020713,-13114,-2869,-7188.0,-4706,Sales staff,3.0,10,Business Entity Type 3,0.416205,0.443615,0.0,0.0,-821.0,0.0,0.0
25,352809,112500.0,835605.0,24561.0,697500.0,0.020713,-19778,-2273,-2082.0,-3254,NaN,2.0,8,Industry: type 3,0.528710,0.733815,0.0,0.0,-649.0,0.0,3.0
26,294249,112500.0,276277.5,14233.5,238500.0,0.010276,-14578,-4565,-2617.0,-4584,Cleaning staff,3.0,13,Self-employed,0.424474,0.754406,0.0,0.0,-905.0,0.0,5.0
27,101421,135000.0,675000.0,28728.0,675000.0,0.010032,-11392,-1716,-5993.0,-3852,NaN,3.0,10,Trade: type 7,0.694570,0.522697,0.0,0.0,-2235.0,0.0,2.0
28,454107,99000.0,690048.0,19773.0,576000.0,0.031329,-15679,-2377,-5112.0,-4803,Core staff,2.0,14,Police,0.577446,0.577969,0.0,0.0,-465.0,0.0,0.0
29,106418,67500.0,675000.0,21906.0,675000.0,0.014520,-19284,-4383,-11203.0,-2823,Cooking staff,2.0,8,School,0.233106,0.304672,2.0,2.0,-1492.0,1.0,5.0

In [17]:
numerical_new=['CNT_CHILDREN','DEF_30_CNT_SOCIAL_CIRCLE' ,'DEF_60_CNT_SOCIAL_CIRCLE' ,'AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_QRT']

In [18]:
numerical_ant=['OCCUPATION_TYPE','ORGANIZATION_TYPE']

In [19]:
SK_ID_CURR=['SK_ID_CURR']

df_categorical_new=df_categorical.drop(columns=numerical_new)
df_categorical_new=pd.concat([df_categorical_new,app_train[numerical_ant]],axis=1)

print('new: ',df_categorical_new.shape)
print('antigo: ',df_categorical.shape)

new:  (246008, 47)
antigo:  (246008, 52)

In [20]:

df_numerical_new = pd.concat([df_numerical,app_train[numerical_new]],axis=1)
df_numerical_new = df_numerical_new.drop(columns=numerical_ant)
df_numerical_new = df_numerical_new.drop(columns=SK_ID_CURR)

print('new: ',df_numerical_new.shape)
print('antigo: ',df_numerical.shape)

new:  (246008, 25)
antigo:  (246008, 21)

In [21]:
df_concat = pd.concat([df_numerical_new, df_categorical_new], axis = 1 )

#### Tipo das colunas categoricas

In [22]:
df_categorical_new.dtypes.sort_values()

TARGET                          int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
FLAG_DOCUMENT_2                 int64
LIVE_CITY_NOT_WORK_CITY         int64
REG_CITY_NOT_WORK_CITY          int64
FLAG_EMP_PHONE                  int64
FLAG_MOBIL                      int64
REG_CITY_NOT_LIVE_CITY          int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_EMAIL                      int64
FLAG_PHONE                      int64
REGION_RATING_CLIENT_W_CITY     int64
REG_REGION_NOT_LIVE_REGION      int64
REG_REGION_NOT_WORK_REGION      int64
LIVE_REGION_NOT_WORK_REGION     int64
REGION_RATING_CLIENT            int64
FLAG_OWN_REALTY                object
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
NAME_TYPE_SUITE                object
OCCUPATION_TYPE                object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
WEEKDAY_APPR_PROCESS_START     object
NAME_INCOME_TYPE               object
ORGANIZATION_TYPE              object
dtype: object

In [23]:
type_num_cat = list(df_categorical_new.select_dtypes(include=np.number))[1:]

In [24]:
df_concat[type_num_cat] = df_concat[type_num_cat].astype('category')

#### Tipo das colunas numéricas

In [25]:
df_numerical_new.dtypes.sort_values()

DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
CNT_CHILDREN                    int64
DAYS_ID_PUBLISH                 int64
HOUR_APPR_PROCESS_START         int64
AMT_INCOME_TOTAL              float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DEF_30_CNT_SOCIAL_CIRCLE      float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
DAYS_LAST_PHONE_CHANGE        float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
EXT_SOURCE_3                  float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
EXT_SOURCE_2                  float64
CNT_FAM_MEMBERS               float64
DAYS_REGISTRATION             float64
REGION_POPULATION_RELATIVE    float64
AMT_GOODS_PRICE               float64
AMT_ANNUITY                   float64
AMT_CREDIT                    float64
OBS_30_CNT_SOCIAL_CIRCLE      float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
dtype: object

In [26]:
target='TARGET'


df_train,df_test= train_test_split(df_concat, train_size=0.7, random_state=42, stratify=df_concat[target])
#app_test = pd.read_csv('credito-imoveis/application_test_student.csv')
#app_test.head(10)

In [27]:
n_zero,n_um=df_train[target].value_counts()
n_zero,n_um

(158226, 13979)

In [28]:
df_balanceado_1 = df_train[df_train[target]==1].copy()
df_balanceado_0 = df_train[df_train[target]==0].sample(n=n_um,replace=False,random_state=42)

df_balanceado = pd.concat([df_balanceado_1,df_balanceado_0])
df_balanceado.head(10)

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,CNT_FAM_MEMBERS,HOUR_APPR_PROCESS_START,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_YEAR,CNT_CHILDREN,DEF_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_QRT,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,OCCUPATION_TYPE,ORGANIZATION_TYPE
195471,121500.0,562491.0,24907.5,454500.0,0.003069,-22080,365243,-1554.0,-4426,2.0,14,0.480653,0.697147,0.0,0.0,-591.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,Cash loans,F,N,Y,Family,Pensioner,Secondary / secondary special,Married,House / apartment,1,0,0,1,0,0,3,3,FRIDAY,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,XNA
206736,135000.0,640080.0,24259.5,450000.0,0.018801,-11785,-4092,-727.0,-3916,4.0,8,0.138407,0.431192,5.0,5.0,-2149.0,1.0,3.0,2,0.0,0.0,0.0,0.0,0.0,0.0,1,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,THURSDAY,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Cleaning staff,Other
221827,81000.0,269550.0,16510.5,225000.0,0.025164,-21497,365243,-7018.0,-4963,1.0,10,0.293988,0.106156,1.0,1.0,-1179.0,0.0,0.0,0,1.0,1.0,0.0,0.0,0.0,0.0,1,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,1,0,0,1,1,0,2,2,TUESDAY,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,XNA
105113,112500.0,490495.5,30006.0,454500.0,0.003122,-23193,365243,-10612.0,-4990,2.0,11,0.071603,0.670652,0.0,0.0,-1731.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,2.0,1,Cash loans,M,Y,N,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,1,0,0,1,0,0,3,3,MONDAY,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,XNA
174713,247500.0,1293165.0,37939.5,1012500.0,0.035792,-16707,-845,-5641.0,-205,2.0,9,0.449924,0.493863,7.0,7.0,-1300.0,0.0,8.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,SUNDAY,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Sales staff,Business Entity Type 1
152428,135000.0,314100.0,16573.5,225000.0,0.018801,-9934,-1134,-1942.0,-2608,4.0,9,0.437456,0.204423,0.0,0.0,-649.0,0.0,0.0,2,0.0,0.0,0.0,0.0,0.0,0.0,1,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,FRIDAY,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Laborers,Postal
78961,450000.0,2085120.0,72607.5,1800000.0,0.008019,-20135,-270,-5344.0,-562,2.0,11,0.711608,0.291097,1.0,1.0,-669.0,0.0,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,With parents,1,1,0,1,0,0,2,2,SATURDAY,1,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,Business Entity Type 3
240510,121500.0,545040.0,20677.5,450000.0,0.020713,-15464,-8816,-2772.0,-4409,1.0,7,0.084911,0.477649,0.0,0.0,-1511.0,0.0,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,1,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Separated,Rented apartment,1,1,0,1,0,0,3,2,TUESDAY,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Drivers,Electricity
20640,247500.0,527373.0,38506.5,477000.0,0.018801,-9600,-813,-4436.0,-2069,2.0,12,0.441470,0.164414,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,2,2,SATURDAY,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Laborers,Business Entity Type 3
76497,54000.0,450000.0,35685.0,450000.0,0.006852,-19427,-1725,-7653.0,-2977,2.0,9,0.102745,0.161463,0.0,0.0,-2027.0,0.0,5.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,Cash loans,F,N,N,Family,Working,Secondary / secondary special,Married,House / apartment,1,1,0,1,0,0,3,3,THURSDAY,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,Other

In [29]:
df_balanceado[target].value_counts()

1    13979
0    13979
Name: TARGET, dtype: int64

In [30]:
X_train = df_balanceado.drop(columns=[target])
y_train = df_balanceado[target]

#teste não vai ser balanceado 
X_test = df_test.drop(columns=[target])
y_test = df_test[target]

In [31]:
features_num=df_numerical_new.columns.tolist()
print(features_num)

features_cat=df_categorical_new.columns.tolist()
features_cat.remove(target)
print(features_cat)

['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'CNT_FAM_MEMBERS', 'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'CNT_CHILDREN', 'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_QRT']
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE']

In [32]:
pipe_feat_num = Pipeline([
    ('pre_input_num_mean', SimpleImputer(strategy='mean')),
    ('pre_scaling_std', StandardScaler())
])

In [33]:
pipe_feat_cat = Pipeline([
    ('pre_input', SimpleImputer(strategy='most_frequent')),
    ('pre_one_hot', OneHotEncoder(drop='first',handle_unknown = 'ignore'))
])

In [34]:
pre_processor = ColumnTransformer([
    ('tr_num', pipe_feat_num, features_num),
    ('tr_cat', pipe_feat_cat, features_cat)
])

# RAM

In [35]:
fro packaging import version
import IPython, ipykernel
IPython.__version__
if version.parse(IPython.__version__) <= version.parse("5.5.0"):
    !pip install -q --upgrade ipython
    !pip install -q --upgrade ipykernel

    import os
    import signal
    os.kill(os.getpid(), signal.SIGTERM)
print(f"ipykernel=={ipykernel.__version__}")
print(f"IPython=={IPython.__version__}")

SyntaxError: invalid syntax (<ipython-input-35-af7ea0ff093d>, line 1)

In [ ]:
!pip install ipyexperiments

In [ ]:
!nvidia-smi

In [ ]:
!pip install torch

In [ ]:
import torch
from pynvml import *
nvmlInit()
def log_mem():
    h = nvmlDeviceGetHandleByIndex(0)
    info = nvmlDeviceGetMemoryInfo(h)
    print(f'GPU total Memory    : {info.total}')
    print(f'GPU free Memory     : {info.free}')
    print(f'GPU Memory used     : {info.used}')
torch.ones(1).to(0)
log_mem()

In [ ]:
# new (large)
from ipyexperiments import IPyExperimentsPytorch
exp = IPyExperimentsPytorch()

In [ ]:
import platform
platform.platform()

In [ ]:
!nvcc --version

In [ ]:
# Uninstall the current CUDA version
!apt-get --purge remove cuda nvidia* libnvidia-*
!dpkg -l | grep cuda- | awk '{print $2}' | xargs -n1 dpkg --purge
!apt-get remove cuda-*
!apt autoremove
!apt-get update

In [ ]:
!wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/cuda-ubuntu1804.pin
!sudo mv cuda-ubuntu1804.pin /etc/apt/preferences.d/cuda-repository-pin-600
!wget https://developer.download.nvidia.com/compute/cuda/11.2.1/local_installers/cuda-repo-ubuntu1804-11-2-local_11.2.1-460.32.03-1_amd64.deb
!sudo dpkg -i cuda-repo-ubuntu1804-11-2-local_11.2.1-460.32.03-1_amd64.deb
!sudo apt-key add /var/cuda-repo-ubuntu1804-11-2-local/7fa2af80.pub
!sudo apt-get update
!sudo apt-get -y install cuda

In [ ]:
!nvcc --version

# KNN

In [ ]:

pipe_final_KNN = Pipeline([
    ('pre_processor', pre_processor),
    ('est', KNeighborsClassifier(n_neighbors=242)),
    #('est', RandomForestClassifier(random_state=42))
])

In [ ]:
estima_n=list(np.linspace(232,243,12,dtype=int))
print(estima_n)

In [ ]:
''' cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

espaco_hiperparametros= {
    'est__n_neighbors': estima_n,
}
grid_search = GridSearchCV(pipe_final_KNN, param_grid=espaco_hiperparametros, scoring='roc_auc', cv=cv, verbose=2, n_jobs=-1) '''

In [ ]:
# grid_search.fit(X_train, y_train)

In [ ]:
grid_search.best_score_

In [ ]:
grid_search.best_params_

In [ ]:
y_pred = grid_search.best_estimator_.predict(X_test)
y_pred

In [ ]:
roc_auc_score(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
## df_result = pd.DataFrame(grid_search.cvresults)
## df_result

In [ ]:
df_result.plot(x = 'param_est__neighbor' , y = 'mean_test_score' )

In [ ]:
grid_search.best_estimator_.n_features_in_

In [ ]:
N_neigh=int((2*n_um)**0.5)
#estimativa de n_neighbors inicial
print(N_neigh)

In [ ]:
#X_train.columns.value_counts().sort_values(ascending=False)

In [ ]:
#X_test.columns.value_counts().sort_values(ascending=False)

In [ ]:
pipe_final.fit(X_train, y_train)

In [ ]:
y_pred_proba = pipe_final.predict_proba(X_test)

In [ ]:
from numpy import savetxt
# descomentar para ir salvando os resultados
savetxt('predict_proba_knn_242.csv',y_pred_proba,delimiter=',')

In [ ]:
y_pred = pipe_final.predict(X_test)
#y_pred = pipe_final.predict_proba(X_test)

In [ ]:
roc_auc_score(y_test, y_pred)

# Random Forest

### Feature Selection

In [ ]:
# do a random forest pipeline for feature selection
from sklearn.ensemble import RandomForestClassifier

In [ ]:
pipe_final_RF = Pipeline([
    ('pre_processor', pre_processor),
    ('est', RandomForestClassifier(n_estimators = 800, min_samples_leaf = 4, max_depth = 18, random_state=42))
])

In [ ]:
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

espaco_hiperparametros= {
    'est__n_estimators': np.linspace(150,250,3, dtype = int),
    'est__max_depth': np.linspace(2,20,10, dtype = int),
    'est__min_samples_leaf': np.linspace(1,10,10, dtype = int)
}
grid_search = GridSearchCV(pipe_final_RF, param_grid=espaco_hiperparametros, scoring='roc_auc', cv=cv, verbose=2, n_jobs=-1)

In [ ]:
grid_search.fit(X_train, y_train)

In [ ]:
grid_search.best_score_

In [ ]:
grid_search.best_params_

In [ ]:
y_pred = grid_search.best_estimator_.predict(X_test)
y_pred

In [ ]:
roc_auc_score(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
pipe_final_RF.fit(X_train, y_train)

In [ ]:
features = pipe_final_RF.feature_names_in_
features

In [ ]:
feature_importances = pipe_final_RF.steps[1][1].feature_importances_

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [ ]:
y_pred_proba = pipe_final_RF.predict_proba(X_test)

In [ ]:
y_pred = pipe_final_RF.predict(X_test)
roc_auc_score(y_test, y_pred)

In [ ]:
f_i = list(zip(features,feature_importances))
f_i.sort(key = lambda x : x[1])
# plt.figure(figsize=(20,20))
fig, ax = plt.subplots(figsize=(20, 20))
features_plot = ax.barh([x[0] for x in f_i],[x[1] for x in f_i])
# bars = ax.barh(indexes, values)
ax.bar_label(features_plot, fmt="%.05f", size=10, label_type="edge")
plt.show()

# AdaBoost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

pipe_final_ab= Pipeline([
    ('pre_processor', pre_processor),
    ('est', AdaBoostClassifier(random_state=42))
])

In [ ]:
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

espaco_hiperparametros= {
    'est__n_estimators': [400, 500, 600, 700, 800],
    'est__learning_rate': [0.1, 1, 10, 100]
}
grid_search_ab = GridSearchCV(pipe_final_ab, param_grid=espaco_hiperparametros, scoring='roc_auc', cv=cv, verbose=2, n_jobs=-1)

In [ ]:
grid_search_ab.fit(X_train, y_train)

In [ ]:
grid_search_ab.best_score_

In [ ]:
grid_search_ab.best_params_

In [ ]:
y_pred = grid_search_ab.best_estimator_.predict(X_test)
y_pred

In [ ]:
pipe_final_ab.fit(X_train, y_train)

In [ ]:
y_pred = pipe_final_ab.predict(X_test)

In [ ]:
roc_auc_score(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.metrics import plot_confusion_matrix


plot_confusion_matrix(pipe_final_ab, X_test, y_test)

In [ ]:
print(classification_report(y_test, y_pred))

# SVC

In [36]:
pipe_final_SVC = Pipeline([
    ('pre_processor', pre_processor),
    ('est', SVC(random_state=42, kernel = 'poly', C = 10))
])

In [37]:
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

espaco_hiperparametros= {
    'est__kernel': ['poly', 'linear','rbf','sigmoid'], 
    #'est__degree': [2,3],
    'est__C': [10] #np.linspace(1, 10, 2, dtype = int)
}
grid_search = GridSearchCV(pipe_final_SVC, param_grid=espaco_hiperparametros, scoring='roc_auc', cv=cv, verbose=2, n_jobs=-1)

In [ ]:
pipe_final_SVC.fit(X_train, y_train)

In [ ]:
y_pred_proba = pipe_final_SVC.predict_proba(X_test)

In [ ]:
from numpy import savetxt
# descomentar para ir salvando os resultados
savetxt('predict_proba_knn_242.csv',y_pred_proba,delimiter=',')

In [ ]:
# y_pred = pipe_final_SVC.predict(X_test)
#y_pred = pipe_final.predict_proba(X_test)

In [ ]:
roc_auc_score(y_test, y_pred)

In [39]:
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=42, shuffle=True),
             estimator=Pipeline(steps=[('pre_processor',
                                        ColumnTransformer(transformers=[('tr_num',
                                                                         Pipeline(steps=[('pre_input_num_mean',
                                                                                          SimpleImputer()),
                                                                                         ('pre_scaling_std',
                                                                                          StandardScaler())]),
                                                                         ['AMT_INCOME_TOTAL',
                                                                          'AMT_CREDIT',
                                                                          'AMT_ANNUITY',
                                                                          'AMT_GOODS_PRICE',
                                                                          'REGION_POPULATION_RELATIVE',
                                                                          'DAY...
                                                                          'REG_CITY_NOT_LIVE_CITY',
                                                                          'REG_CITY_NOT_WORK_CITY',
                                                                          'LIVE_CITY_NOT_WORK_CITY',
                                                                          'FLAG_DOCUMENT_2',
                                                                          'FLAG_DOCUMENT_3',
                                                                          'FLAG_DOCUMENT_4',
                                                                          'FLAG_DOCUMENT_5',
                                                                          'FLAG_DOCUMENT_6',
                                                                          'FLAG_DOCUMENT_7', ...])])),
                                       ('est',
                                        SVC(C=10, kernel='poly',
                                            random_state=42))]),
             n_jobs=-1,
             param_grid={'est__C': [10],
                         'est__kernel': ['poly', 'linear', 'rbf', 'sigmoid']},
             scoring='roc_auc', verbose=2)

In [40]:
grid_search.best_score_

0.7413970738436925

In [41]:
grid_search.best_params_

{'est__C': 10, 'est__kernel': 'linear'}

In [42]:
y_pred = grid_search.best_estimator_.predict(X_test)
y_pred

/home/rafael/.local/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:188: UserWarning: Found unknown categories in columns [1, 5, 34] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

array([1, 1, 1, ..., 1, 1, 1])

In [43]:
roc_auc_score(y_test, y_pred)

0.6785755411563639

In [44]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.69      0.80     67812
           1       0.16      0.67      0.26      5991

    accuracy                           0.69     73803
   macro avg       0.56      0.68      0.53     73803
weighted avg       0.89      0.69      0.76     73803

### passar pipeline para app_test